<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AlarmMapper"> 	
 	
	<resultMap id="AlarmSelectMap" 		type="alarm">
		<result property="alarmId" 		column="alarm_id" 		jdbcType="NUMERIC"/>
		<result property="isWatch"	 	column="is_watch" 		jdbcType="NUMERIC" />
		<result property="alarmType" 	column="alarm_type"  	jdbcType="NUMERIC" />
		<result property="addDate" 	    column="add_date" 	 	jdbcType="DATE" />
		
		<association property="sendUser" 	column="send_user_code"    javaType="user" 	select="setSendUser"/>
		<association property="reciveUser" 	column="receive_user_code"    javaType="user" 	select="setReceiveUser"/>	
		<association property="likefeed" 	column="like_feed_id"     javaType="feed" 	select="setlikeFeed"/>	
			
										
	</resultMap>	
	
		<select id="setSendUser" parameterType="string" resultMap="UserMapper.userSelectMap" >
			SELECT * FROM users
			WHERE user_code = #{value}		
		</select>
		
		<select id="setReceiveUser" parameterType="string" resultMap="UserMapper.userSelectMap" >
			SELECT * FROM users
			WHERE user_code = #{value}		
		</select>
		
		<select id="setlikeFeed" parameterType="int" resultMap="FeedMapper.FeedSelectMap" >
			SELECT * FROM feeds
			WHERE feeds.feed_id = #{value}			
		</select>	
		
		
		<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
		
		<insert id="addAlarm" parameterType="alarm">
			INSERT into alarm (alarm_id, send_user_code, receive_user_code, like_feed_id, is_watch, alarm_type, add_date)
			VALUES(alarm_id, #{sendUser.userCode},#{reciveUser.userCode}, #{likefeed.feedId}, 0, #{alarmType}, NOW() )
		</insert>
		
		<select id="unWatchAlarmList" parameterType="string" resultMap="AlarmSelectMap">
			SELECT * FROM alarm
			WHERE receive_user_code = #{value}
			AND is_watch = 0			
		</select>
		
		
		<delete id="deleteOldHistory" parameterType="int">
			DELETE FROM alarm
			WHERE (NOW() - add_date) > #{value}		
		</delete>
		
		
		
	 
</mapper>








