<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CoworkerMapper"> 	
 	
	<resultMap id="likesSelectMap" type="like">
		<result property="coworkerId" 	column="like_id" 	jdbcType="NUMERIC"/>
		<result property="feedId"		column="feed_id" 	jdbcType="NUMERIC" />	
				
		<association property="coworker" column="user_id" javaType="user" select="setCoworkerList" />					
	</resultMap>
	
		<select id="setCoworkerList" parameterType="string" resultMap="UserMapper.userSelectMap" >
			SELECT * FROM user
			WHERE user_id = #{value}		
		</select>		 
</mapper>


