<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ColorMapper"> 	
 	
	<resultMap id="ColorSelectMap" 	type="color">
		<result property="colorId" 	column="color_id" 		jdbcType="NUMERIC"/>
		<result property="ImageId"	column="image_id" 		jdbcType="NUMERIC" />
		<result property="red" 		column="color_r" 		jdbcType="NUMERIC" />
		<result property="green" 	column="color_g" 		jdbcType="NUMERIC" />
		<result property="blue" 	column="color_b" 		jdbcType="VARCHAR" />
		<result property="ratio" 	column="color_ratio" 	jdbcType="FLOAT" />							
	</resultMap>	
	
	<insert id="addColor" parameterType="color">
		INSERT INTO colors(color_id, image_id, color_r, color_g, color_b, color_ratio)
		VALUES(color_id, #{ImageId}, #{red:NUMERIC} ,#{green:NUMERIC}, #{blue:NUMERIC}, #{ratio:FLOAT})	
	</insert>
	
	
	<select id="getThumbnailColorList" parameterType="int" resultMap="ColorSelectMap">
		SELECT * FROM colors, images
		WHERE colors.image_id = images.image_id 
		AND images.is_thumbnail = 1
		AND images.feed_id = #{value}
	</select>

	
	 
</mapper>


