<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FeedMapper"> 	
 	
	<resultMap id="FeedSelectMap" type="feed">
		<result property="feedId" 				column="feed_id" 				jdbcType="NUMERIC"/>
		<result property="feedTitle"			column="feed_title" 			jdbcType="VARCHAR" />
		<result property="feedExplanation" 		column="feed_explanation" 		jdbcType="VARCHAR" />
		<result property="feedRegDate" 			column="feed_reg_date" 			jdbcType="DATE" />
		<result property="feedEditDate" 		column="feed_edit_date" 		jdbcType="DATE" />
		<result property="feedViewCount" 		column="feed_view_count" 		jdbcType="NUMERIC" />
		<result property="feedIsPrime" 			column="feed_is_prime" 			jdbcType="NUMERIC" />		
		<result property="feedUseGears" 		column="feed_use_gears" 		jdbcType="VARCHAR" />
		<result property="feedIsTemp" 			column="feed_is_temp" 			jdbcType="NUMERIC" />
		<result property="primeFeedViewCount" 	column="prime_feed_view_count" 	jdbcType="NUMERIC" />
		<result property="commentRange" 		column="comment_range" 			jdbcType="NUMERIC" />					
		
		<association property="writer"         column="user_code"    javaType="user"      select="setWriter"/>		
		<association property="feedCategory"   column="category_id"  javaType="category"  select="setCategory"/>		
			
		<collection property="images" 		column="feed_id" 	javaType="list" 	ofType="image" 		select="setFeedImages"/>
		<collection property="likes" 		column="feed_id" 	javaType="list" 	ofType="joiner" 	select="setLikeUserlist"/>
		<collection property="coworkers" 	column="feed_id" 	javaType="list" 	ofType="joiner" 	select="setCoworkUserlist"/>
		<collection property="comments" 	column="feed_id" 	javaType="list" 	ofType="comment"	select="setCommentlist"/>	
			
	</resultMap>		
	
		<select id="setWriter" parameterType="string" resultMap="UserMapper.userSelectMap" >
			SELECT * FROM user
			WHERE user_code = #{value}		
		</select>	
		
		<select id="setFeedImages" parameterType="int" resultMap="ImageMapper.ImageSelectMap" >
			SELECT * FROM images
			WHERE feed_id = #{value}		
		</select>
		
		<select id="setLikeUserlist" parameterType="int" resultMap="JoinerMapper.joinerSelectMap" >
			SELECT * FROM joiner
			WHERE feed_id = #{value} AND is_like = 1					
		</select>
		
		<select id="setCoworkUserlist" parameterType="int" resultMap="JoinerMapper.joinerSelectMap" >
			SELECT * FROM joiner
			WHERE feed_id = #{value} AND is_like = 0					
		</select>
		
		<select id="setCommentlist" parameterType="int" resultMap="CommentMapper.commentSelectMap" >
			SELECT * FROM comments
			WHERE feed_id = #{value}					
		</select>
		
		<select id="setCategory"  parameterType="int"  resultMap="CategoryMapper.categorySelectMap" >
			SELECT * FROM categories
			WHERE category_id = #{value}					
		</select>
		
		
		<select id = "getlastFeedId" resultType="int">
			SELECT MAX(feed_id) FROM feeds
		</select>		
		
		<insert id ="insertFeed" parameterType="feed">
			Insert INTO feeds(feed_id, user_code feed_title, feed_explanation, feed_reg_date, feed_is_prime, category, feed_use_gears, feed_is_temp, comment_range  )
			VALUES(feed_id, #{writer.userCode}, #{feedTitle}, #{feedExplanation:VARCHAR}, NOW(), #{feedIsPrime:NUMERIC}, #{category:VARCHAR}, #{feedUseGears:VARCHAR}, #{feedIsTemp:NUMERIC}, #{commentRange:NUMERIC})		
		</insert>
		
		<select id="getFeed" parameterType="int" resultMap="FeedSelectMap">
			SELECT * FROM feeds
			WHERE feed_id = #{value}
		</select>		
		
		<select id="getMyFeedList" parameterType="string" resultMap="FeedSelectMap">
			SELECT * FROM feeds
			WHERE user_code = #{value} AND feed_is_temp = 0
		</select>
		
		
		<select id ="getFeedListOnlyTag" parameterType="string" resultMap="FeedSelectMap">
			SELECT * FROM feeds, images, keywords
			WHERE feeds.feed_id = images.feed_id AND images.image_id = keywords.image_id
			AND keywords.keyword_origin = #{value}			
		</select>
		
		
		<select id="getTempFeed" parameterType="string" resultMap="FeedSelectMap">
			SELECT * FROM feeds
			WHERE user_code = #{value} AND feed_is_temp = 1
		</select>
		
		<delete id="deleteFeed" parameterType="int">
		 	DELETE FROM feeds
		 	WHERE feed_id = #{value}
		</delete>
	
	
	 
</mapper>


