<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ImageMapper"> 	
 	
	<resultMap id="ImageSelectMap" type="image">
		<result property="imageId" 			column="image_id" 			jdbcType="NUMERIC"/>
		<result property="feedId"			column="feed_id" 			jdbcType="NUMERIC" />
		<result property="feedOrder" 		column="feed_order" 		jdbcType="NUMERIC" />
		<result property="isThumbnail" 		column="is_thumbnail" 		jdbcType="NUMERIC" />
		<result property="imageFile" 		column="image_file" 		jdbcType="VARCHAR" />	
		
		<collection property="color" column="image_id" javaType="list" ofType="color" select="setColors"/>
		<collection property="keyword" column="image_id" javaType="list" ofType="keyword" select="setKeywords"/>		
					
	</resultMap>		
	
	 <select id ="setKeywords" parameterType="int" resultMap="KeywordMapper.keywordSelectMap">
		SELECT * FROM keywords
		WHERE keywords.image_id = #{value}		
	 </select>
	 	
	 <select id ="setColors" parameterType="int" resultMap="ColorMapper.ColorSelectMap">
		SELECT * FROM colors 
		WHERE colors.image_id = #{value}		
	 </select>
	 
	 <!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
	 
	  <select id ="getLastImageId" resultType="int">
		SELECT MAX(image_id) FROM images
	 </select>	 
	 
	 <insert id="addImage" parameterType="image">
	 	INSERT INTO images (image_Id, feed_Id, feed_Order ,is_Thumbnail, image_File)
	 	VALUES(image_id, #{feedId}, #{feedOrder:NUMERIC}, #{isThumbnail:NUMERIC}, #{imageFile})	 
	 </insert>	 
	 	 
	 <delete id="deleteImage" parameterType="int">
	 	DELETE FROM images
	 	WHERE image_id = #{value}	 
	 </delete>	
	
	<select id="getimageOne" parameterType="int" resultMap="ImageSelectMap">
		SELECT * FROM images
		WHERE image_id = #{value}	
	</select>	
	
	<select id="getimageAll"  resultMap="ImageSelectMap">
		SELECT * FROM images		
	</select>
	
	
	<select id="getImageListFromColor" parameterType="search" resultMap="ImageSelectMap">
		SELECT *  FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY images.image_id) num, images.* FROM images, colors, feeds 
		WHERE images.image_id = colors.image_id
		AND feeds.feed_id = images.feed_id 
		AND images.is_thumbnail = 0
		AND feeds.feed_state = 0
		AND colors.color_r BETWEEN #{startRed} AND #{endRed} 
		AND colors.color_g BETWEEN #{startGreen} AND #{endGreen} 
		AND colors.color_b BETWEEN #{startBlue} AND  #{endBlue}
		GROUP BY images.image_id) temp
		WHERE num BETWEEN #{startRowNum} AND #{endRowNum}           
	</select>
	
	
	<select id ="getImageListFromKeyword" parameterType="search" resultMap="ImageSelectMap">
		SELECT *  FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY images.image_id) num, images.* FROM images, keywords, feeds 
		WHERE images.image_id = keywords.image_id
		AND feeds.feed_id = images.feed_id 
		AND images.is_thumbnail = 0
		AND feeds.feed_state = 0
		<if test="keyword !=''">
			AND keywords.keyword_en LIKE CONCAT('%',#{keyword},'%')
		</if>
		GROUP BY images.image_id
		) temp
		WHERE num BETWEEN #{startRowNum} AND #{endRowNum}	
	</select>
	
	
	<select id = "getImageListFromCategory" parameterType="search" resultMap="ImageSelectMap">
		SELECT *  FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY images.image_id) num, images.* FROM images, feeds, categories 
		WHERE images.feed_id = feeds.feed_id
		AND categories.category_id = feeds.category_id
		AND categories.category_name = #{keyword}
		AND images.is_thumbnail = 0
		AND feeds.feed_state = 0 ) temp
		WHERE num BETWEEN #{startRowNum} AND #{endRowNum}	
	</select>
	
	
	<!-- 연관이미지 검색시에 사용, 전체 관련 이미지를 다 받아온다. -->
	<select id="getImageListFromImage" parameterType="search" resultMap="ImageSelectMap">			
		SELECT  images.* FROM images, keywords, feeds 
		WHERE images.image_id = keywords.image_id
		AND feeds.feed_id = images.feed_id
		AND images.is_thumbnail = 0
		AND feeds.feed_state = 0
		AND keywords.keyword_en IN
		<foreach collection="keywords" item="item" open="(" close=")" separator=",">
		 #{item.keywordEn}
		</foreach>	
		GROUP BY images.image_id		
	</select>
	
	
	<!-- 연관이미지 검색시에 사용, 주어진 키를 모두 만족하는 경우에만 불러온다. -->
	<select id="getImageListFromImageALLKeys" parameterType="search" resultMap="ImageSelectMap">			
		SELECT  images.* FROM images, keywords, feeds 
		WHERE images.image_id = keywords.image_id
		AND feeds.feed_id = images.feed_id
		AND images.is_thumbnail = 0
		AND feeds.feed_state = 0		 
		<foreach collection="keywords" item="item" >
		 AND keywords.keyword_en =  #{item.keywordEn}
		</foreach>	
		GROUP BY images.image_id		
	</select>
	
	
	<select id="getAutoImageKeywordList" parameterType="String" resultType="String">
		SELECT temp.keyword_en  FROM		
		(SELECT ROW_NUMBER() OVER(ORDER BY keywords.keyword_en) num, keywords.keyword_en FROM images, keywords, feeds 
		WHERE images.image_id = keywords.image_id
		AND feeds.feed_id = images.feed_id	
		AND images.is_thumbnail = 0
		AND feeds.feed_state = 0
		AND keywords.keyword_en	LIKE CONCAT('%',#{value},'%')
		GROUP BY keywords.keyword_en
		)temp
		WHERE num BETWEEN 1 AND 5	
	</select>
	
	
		
	 
</mapper>


