<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="JoinerMapper"> 	
 	
	<resultMap id="joinerSelectMap" type="joiner">
		<result property="joinerId" 	column="joiner_id" 		jdbcType="NUMERIC"/>
		<result property="feedId"		column="feed_id" 		jdbcType="NUMERIC" />
		<result property="isLike"		column="is_like" 		jdbcType="NUMERIC" />
		<result property="addDate" 		column="add_date" 		jdbcType="DATE" />
				
		<association property="user" column="user_code" javaType="user" select="setJoiner" />					
	</resultMap>
	
		<select id="setJoiner" parameterType="string" resultMap="UserMapper.userSelectMap" >
			SELECT * FROM users
			WHERE user_code = #{value}		
		</select>
		
		<!-- 000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
				
		<select id="getLikeUser" parameterType="int" resultMap="joinerSelectMap" >
			SELECT * FROM joiner
			WHERE feed_id = #{value} AND is_like = 1	
		</select>
		
		<select id="getCoworkUser" parameterType="int" resultMap="joinerSelectMap" >
			SELECT * FROM joiner
			WHERE feed_id = #{value} AND is_like = 0	
		</select>
		
		<insert id="addJoinUser" parameterType="joiner">
		 	INSERT INTO joiner (joiner_id, feed_id ,is_like, add_date, user_code)
		 	VALUES (joiner_id, #{feedId}, #{isLike}, NOW(), #{user.userCode})
		</insert>	
		
		<delete id="deleteJoinUser" parameterType="joiner" >
			DELETE FROM joiner
			WHERE feed_id = #{feedId} AND is_like=1 AND user_code = #{user.userCode} 
		</delete>
		
		<select id="getLikeState" parameterType="joiner" resultMap="joinerSelectMap">
			SELECT * FROM joiner 
			WHERE feed_id = #{feedId} AND is_like=1 AND user_code = #{user.userCode}
		</select>
		
		
		<!-- 특정 일에 특정 유저가 작성한 피드에 좋아요를 누른 수 -->
		<select id ="getLikeMounthCount" parameterType="hashMap" resultType="int">
			SELECT COUNT(joiner_id) FROM joiner, feeds
			WHERE joiner.feed_id = feeds.feed_id
			AND date_format(add_date, '%Y%m%d') = #{date}
			AND feeds.user_code = #{userCode}			
		</select>
		
		
		
</mapper>


