<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="KeywordMapper"> 	
 	
	<resultMap id="keywordSelectMap" type="keyword">
		<result property="keywordId" 		column="keyword_id" 		jdbcType="NUMERIC"/>
		<result property="imageId"			column="image_id" 			jdbcType="NUMERIC" />
		<result property="isTag" 			column="is_tag" 			jdbcType="NUMERIC" />
		<result property="userCode" 		column="user_code" 			jdbcType="VARCHAR" />
		<result property="keywordEn" 		column="keyword_en" 		jdbcType="VARCHAR" />
		<result property="keywordOrigin" 	column="keyword_origin" 	jdbcType="VARCHAR" />
		<result property="score" 			column="keyword_score" 		jdbcType="FLOAT" />					
	</resultMap>	
	
	<insert id ="addkeyword" parameterType="keyword">
		INSERT INTO keywords (keyword_id, image_id, is_tag, keyword_en, keyword_origin, keyword_score)
		VALUES(keyword_id, #{imageId}, #{isTag:NUMERIC}, #{keywordEn:VARCHAR}, #{keywordOrigin:VARCHAR}, #{score:FLOAT})		
	</insert>
	
	
	<!-- 태그만 따로 저장하는 쿼리 -->
	<insert id ="addTag" parameterType="keyword">
		INSERT INTO keywords (keyword_id, is_tag, user_code, keyword_en, keyword_origin, keyword_score)
		VALUES(keyword_id, 1, #{userCode:VARCHAR}, #{keywordEn:VARCHAR}, #{keywordOrigin:VARCHAR}, #{score:FLOAT})		
	</insert>
	

	<select id = "getTagList" parameterType="string" resultMap="keywordSelectMap">
		SELECT * FROM keywords
		WHERE is_tag = 1
		AND user_code = #{value}		
	</select>
	
	<select id ="getKeywordList" parameterType="int" resultMap="keywordSelectMap">
		SELECT * FROM keywords
		WHERE image_id = #{value}		
	</select>
	
	<!-- 키워드 최초 추출 시 이전 데이터가 있는지 확인하기 위한 쿼리 -->
	<select id ="getKeywordAllCount"  resultType="int">
		SELECT COUNT(keyword_id) FROM keywords				
	</select>	
	
	<update id = "updateSaveTag" parameterType="int">
		UPDATE keywords SET user_code = NULL
		WHERE keyword_id= #{value}
	</update>
	
	<!-- 피드에 저장된 태그 리스트를 불러온다 (피드 상세 작성용) -->
	<select id="getFeedTagList" parameterType="int" resultMap="keywordSelectMap">
		SELECT * FROM keywords ,images ,feeds
		WHERE feeds.feed_id = images.feed_id
		AND images.image_id = keywords.image_id
		AND feeds.feed_id = #{value}
		AND keywords.is_tag = 1
		AND images.is_thumbnail = 1	
	</select>
	 
</mapper>


