<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="KeywordMapper"> 	
 	
	<resultMap id="keywordSelectMap" type="keyword">
		<result property="keywordId" 		column="keyword_id" 		jdbcType="NUMERIC"/>
		<result property="imageId"			column="image_id" 			jdbcType="NUMERIC" />
		<result property="isTag" 			column="is_tag" 			jdbcType="NUMERIC" />
		<result property="userCode" 		column="user_code" 			jdbcType="VARCHAR" />
		<result property="keywordEn" 		column="keyword_en" 		jdbcType="VARCHAR" />
		<result property="keywordOrigin" 	column="keyword_origin" 	jdbcType="VARCHAR" />
		<result property="score" 			column="keyword_score" 		jdbcType="FLOAT" />					
	</resultMap>	
	
	<insert id ="addkeyword" parameterType="keyword">
		INSERT INTO keywords (keyword_id, image_id, is_tag, user_code, keyword_en, keyword_origin, keyword_score)
		VALUES(keyword_id, #{imageId}, #{isTag:NUMERIC}, #{userId:NUMERIC}, #{keywordEn:VARCHAR}, #{keywordOrigin:VARCHAR}, #{score:FLOAT})		
	</insert>

	<select id = "getTagList" parameterType="string" resultMap="keyword">
		SELECT * FROM keywords
		WHERE is_tag = 1 AND user_code = #{value}		
	</select>
	
	<select id ="getKeywordList" parameterType="int" resultMap="keyword">
		SELECT * FROM keywords
		WHERE image_id = #{value}		
	</select>
	
	<update id = "updateSaveTag" parameterType="int">
		UPDATE keywords SET user_code = ""
		WHERE keyword_id= #{value}
	</update>
	
	 
</mapper>


