<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LikesMapper"> 	
 	
	<resultMap id="likesSelectMap" type="like">
		<result property="likeId" 		column="like_id" 		jdbcType="NUMERIC"/>
		<result property="feedId"		column="feed_id" 			jdbcType="NUMERIC" />
		<result property="likeDate" 	column="like_date" 			jdbcType="DATE" />
				
		<association property="likeedUser" column="user_id" javaType="user" select="setLikeUser" />					
	</resultMap>
	
		<select id="setLikeUser" parameterType="string" resultMap="UserMapper.userSelectMap" >
			SELECT * FROM user
			WHERE user_id = #{value}		
		</select>		 
</mapper>


