<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="user" 	 	type="com.VIG.mvc.service.domain.User" />		
		<typeAlias alias="category"  	type="com.VIG.mvc.service.domain.Category" />
		<typeAlias alias="feed" 	 	type="com.VIG.mvc.service.domain.Feed" />
		<typeAlias alias="image" 	 	type="com.VIG.mvc.service.domain.Image" />
		<typeAlias alias="color" 		type="com.VIG.mvc.service.domain.ImageColor" />
		<typeAlias alias="keyword" 		type="com.VIG.mvc.service.domain.ImageKeyword" />
		<typeAlias alias="joiner" 		type="com.VIG.mvc.service.domain.JoinUser"/>
		<typeAlias alias="comment" 		type="com.VIG.mvc.service.domain.Comment"/>
		<typeAlias alias="report" 		type="com.VIG.mvc.service.domain.Report"/>
		<typeAlias alias="history" 		type="com.VIG.mvc.service.domain.History"/>
		<typeAlias alias="search" 		type="com.VIG.mvc.service.domain.Search"/>
		<typeAlias alias="event" 		type="com.VIG.mvc.service.domain.Event"/>
		<typeAlias alias="payment" 		type="com.VIG.mvc.service.domain.Payment"/>
		<typeAlias alias="withdraw"		type="com.VIG.mvc.service.domain.Withdraw"/>
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/CategoryMapper.xml"/>
		<mapper resource="sql/ImageMapper.xml"/>
		<mapper resource="sql/KeywordMapper.xml"/>
		<mapper resource="sql/ColorMapper.xml"/>
		<mapper resource="sql/JoinerMapper.xml"/>
		<mapper resource="sql/FeedMapper.xml"/>
		<mapper resource="sql/CommentMapper.xml"/>
		<mapper resource="sql/EventMapper.xml"/>
		<mapper resource="sql/ReportMapper.xml"/>
		<mapper resource="sql/FollowMapper.xml"/>
		<mapper resource="sql/HistoryMapper.xml"/>
		<mapper resource="sql/PaymentMapper.xml"/>
		<mapper resource="sql/WithdrawMapper.xml"/>		
	</mappers>

</configuration>