<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.vig.repository.WithdrawMapper"> 	
 	
	<resultMap id="WithdrawSelectMap" type="withdraw">
		<result property="withdrawId" 				column="withdraw_id" 				jdbcType="NUMERIC"/>
		<result property="userCode"			column="user_code" 			jdbcType="VARCHAR" />
		<result property="holder" 		column="acc_holder" 		jdbcType="VARCHAR" />
		<result property="withdrawDate" 			column="withdraw_date" 			jdbcType="DATE" />
		<result property="accNo" 		column="acc_no" 		jdbcType="VARCHAR" />
		<result property="bankCode" 		column="bank_code" 		jdbcType="VARCHAR" />
		<result property="amount" 			column="amount" 			jdbcType="NUMERIC" />
			
	</resultMap>		
	
	
	<insert id="addWithdraw" parameterType="withdraw" >
	
		INSERT INTO withdraw (withdraw_id, user_code, acc_holder, withdraw_date, acc_no, bank_code, amount)
		VALUES (withdraw_Id, #{userCode:VARCHAR}, #{holder:VARCHAR}, NOW(), #{accNo:VARCHAR}, #{bankCode:VARCHAR}, #{amount:NUMERIC})
	
	
	</insert>
	
	<update id="updateWithdraw" parameterType="withdraw">
		
		UPDATE TABLE withdraw
		SET 
			<if test="holder!=null and hoder.equals('')">
			holder=#{holder:VARCHAR} 
			</if>
			<if test="accNo!=null and accNo.equals('')">
			acc_no=#{accNo:VARCHAR}
			</if>
			<if test="bankName!=null and bankName.equals('')">
			bank_name=#{bankName:VARCHAR}
			</if>
			<if test="amount!=null and amount.equals(0)">
			amount=#{amount:NUMERIC}
			</if>
			withdraw_date=NOW()
		WHERE withdraw_id=#{withdrawId}
	</update>
	
	
	<select id="getWithdrawList" parameterType="search" resultMap="WithdrawSelectMap">
			SELECT * FROM
			(SELECT ROW_NUMBER() OVER(ORDER BY withdraw.withdraw_date DESC) num, withdraw.*  
			FROM withdraw
			<if test="keyword != null">
			WHERE user_code = #{keyword}
			</if>
			) temp WHERE num BETWEEN #{startRowNum} AND #{endRowNum}
	
	</select>
	
	<select id="getCountWithdraw" parameterType="String" resultType="int">
		
		SELECT COUNT(*)
		FROM(	
		SELECT *
		FROM withdraw
		<if test="userCode!='null'">
			WHERE user_code=#{value}
		</if>
		ORDER BY withdraw_id) countTable
	
	</select>
	 
</mapper>


